project_id = "data-lake-to-sql"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[db.pooler]
enabled = true
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[studio]
enabled = true
port = 54323

[auth]
enabled = true
site_url = "http://localhost:3000"

[auth.external.github]
enabled = false

[storage]
enabled = true
file_size_limit = "50MiB"

[realtime]
enabled = true

[inbucket]
enabled = true
port = 54324
